nevakee-main-image {
	position:relative;
	display: flex;
	div {
		position:relative;
		display:flex;
		transition: opacity 1s ease-in-out;
		img {
		    max-width: 95%;
		    max-height: 95%;
		    margin:auto;
		    
		}	
	}

}

