$nevakee-side-width: 3rem !default;

nevakee-portfolio {
	display: flex;
	background: black;
	height: 100%;
	width: 100%;
	overflow: hidden;

	nevakee-menu {
		width: $nevakee-side-width;
		background: black;
		color: white;
		font-size: 2rem;
		text-align: center;
		width : 15%;
	}

	nevakee-zone-defilement {
		background: black;
		width: $nevakee-side-width;
		.min-image {
			height: 100%;
			border-style : solid;
    		border-color : red;		
		}
	}
	nevakee-main-image {
		width: 70%;
		height: 100%;

	}

}

