$nevakee-menu-height: 3rem !default;

nevakee-portfolio {
	display: block;
	background: black;
	height: 100%;
	overflow: hidden;

	nevakee-menu {
		height: $nevakee-menu-height;
		background: black;
		color: white;
		font-size: 3rem;
		text-align: center;
	}

	nevakee-zone-defilement {
		background: black;
		height: calc(20% - #{$nevakee-menu-height});
		line-height: calc(20% - #{$nevakee-menu-height});
		margin-right: -500px;
		.min-image {
			height: 100%;
			border-style : solid;
    		border-color : red;		
		}
	}
	.image-container {
		height: 80%;
		display: flex;
		#main-image {
			max-height: 95%;
			max-width: 95%;
			margin: auto;
		}
	}

}

